h2{
color:purple;
text-align:center;
}  /*every h2 heading text is purple and centered*/


h3{
color:purple;
text-align:center;
}/*every h3 heading text is purple and centered */

table{
margin-left:12%;	
margin-right:10%;	
margin-top:5%;	
margin-bottom:10%;	
text-align:left;	
border-color: purple;
border-width: 3px;
border-style: solid;
	
}
/*every table has a thin purple border, has left aligning text in each row and has partially large margins surrounding it  */

header{
margin-left:5%;
margin-right:5%;
background-color:white;
font-size:25px;


border-style: solid;
border-width: 3px;
border-color: purple;
}

nav{
margin-left:5%;
margin-right:5%;
background-color:white;

border-style: solid;
border-width: 3px;
border-color: purple;
border-top:none;
font-size:25px;
}



body{
background-image: url('/images/tempgears.jpg');


font-family: myFirstFont;
}    /*sets background to picture and  font used to custom font */


p{
text-align: center; 	

}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float:left;
  text-align:center;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px ;
  text-decoration: none;
}

li a:hover {
  background-color: #D462FF;
}

a:hover{background-color: #D462FF}


li{
  display: inline-block;
  width:20%;
}



#center{
Text-align:center;  
}   /*aligns text so centered */



#center2{
Text-align:center;
font-size:20px;
} /*same as last except text size is set to 20pixels*/




@font-face {
  font-family: myFirstFont;
  src: url(8bitOperatorPlus8-Regular.ttf);
}  /*styling for custom font, insert with font-family: nameoffont; for every bit of desired text */


/*section > p{
margin-left:10%;
margin-right:10%;
margin-top:2%;
margin-bottom:2%;
background-color:white;
font-size: 20px;

border-style: solid;
border-width: 3px;
border-color: purple;
border-spacing: 10px;

	
	
}

good for making it divided up into sections like a newspaper article, however not optimal for redesign
*/

#main{
margin-left:2%;
margin-right:2%;
margin-top:2%;
margin-bottom:2%;
background-color:white;
font-size: 20px;
text-align: center;

border-style: solid;
border-width: 3px;
border-color: purple;


} 
/*
#mainovervw{
margin-left:5%;
margin-right:5%;
margin-top:5%;
margin-bottom:5%;
background-color:white;
font-size: 20px;
text-align: center;

border-style: solid;
border-width: 3px;
border-color: purple;


} 

#mainhowwrk{
margin-left:5%;
margin-right:5%;
margin-top:5%;
margin-bottom:5%;
background-color:white;
font-size: 20px;
text-align: center;

border-style: solid;
border-width: 3px;
border-color: purple;


} 


#mainAME{
margin-left:5%;
margin-right:5%;
margin-top:5%;
margin-bottom:5%;
background-color:white;
font-size: 20px;

border-style: solid;
border-width: 3px;
border-color: purple;
	
}

#mainbnfts{
margin-left:5%;
margin-right:5%;
margin-top:5%;
margin-bottom:5%;
background-color:white;
font-size: 20px;

border-style: solid;
border-width: 3px;
border-color: purple;

} 

 */    

#left{
	float:left;
}  

#logo{
	float:left;	
}

#headertext{
	text-align:center;
	} 
 

#ptoesovervw{
margin-left:5%;
margin-right:5%;
margin-bottom:5%;
margin-top:5%;


border-style: solid;
border-width: 3px;
border-color: purple;
}

#parmovervw{
margin-left:5%;
margin-right:5%;
margin-bottom:5%;
margin-top:5%;

	

border-style: solid;
border-width: 3px;
border-color: purple;
}

#dcmtrhowwrk{
margin-right:10%;

border-style: solid;
border-width: 3px;
border-color: purple;
}

#wiringhndhowwrk{
margin-left:5%;
margin-right:5%;
margin-bottom:5%;
margin-top:5%;


border-style: solid;
border-width: 3px;
border-color: purple;
}

#hndbnfts{
margin-left:20%;
margin-right:20%;
margin-bottom:5%;
margin-top:5%;


border-style: solid;
border-width: 3px;
border-color: purple;
}


